body {
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; 
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

section {
    flex: 1;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lateral {
    width: 700px;
    padding: 20px;
}

.noticia {
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

.noticia img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 15px auto;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
